@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center mt-5">
    <h1 class="display-4">Oops! Something went wrong.</h1>
    <p>Please try again or <a asp-controller="Home" asp-action="Index">go back home</a>.</p>
</div>
